h1{
    color: red;
    background-color: black;
}
p{
    color: blue;
    background-color: black;
}
button{
    color: gold;
    background-color: black;
}
  /*  learned how set color tag annd back ground color tag*/ 