body{
    background-color: #333;
}
.box{
    background-color: white;
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
    top: 250px;
    border-radius: 20px;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-property: all;

}
.box:hover{
    background-color: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}