body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.light{
    border: 2px solid black;
    height: 325px;
    width: 115px;
    background-color: #333;
    position: center;
    border-radius: 20px;
    align-items: center;


}
.green{
    border: 1px solid black;
    height:50px ;
    width: 50px;
    border-radius: 50px;
    padding: 7px;
    background-color: #444;
    margin: 22px;

}
.red{
    border: 1px solid black;
    height:50px ;
    width: 50px;
    border-radius: 50px;
    background-color: #444;
   padding: 7px;
   margin: 22px;
}
.orange{
    border: 1px solid black;
    height:50px ;
    width: 50px;
    border-radius: 50px;
    background-color: #444;
    padding: 7px;
   margin: 22px;

}
.orange:hover{
    background-color: yellow;
}
.red:hover{
    background-color: red;
}
.green:hover{
    background-color: green;
}